<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
	<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50" class="home-page">
		<!--header -->
		<% include partials/header %> 
		<!--//-->          
		<section class="dashboard-section">	
			<div class="wrapper">
				<div class="row row-offcanvas row-offcanvas-left">
					<!-- sidebar -->
					<div class="column col-sm-3 col-xs-1 sidebar-offcanvas" id="sidebar">
						<% include partials/sidebar %>								
					</div>
					<!-- /sidebar -->
					<!-- main right col -->
					<div class="column col-sm-9 col-xs-11 main-dashcontent" id="main">  						
						<h2>
							<span class="collapse in hidden-xs"><%= page %></span>
						</h2>						
					</div>
				</div>
			</div>
		</section>
	<% include partials/footer %>
	<% include partials/script %>	
	<script>
		preloader();
	</script>
</body>
</html>