<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
	<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50" class="home-page">
		<!--header -->
		<% include partials/header %> 
		<!--//-->         
		<section class="dashboard-section">	
			<div class="wrapper">
				<div class="row row-offcanvas row-offcanvas-left">
					<!-- sidebar -->
					<div class="column col-sm-3 col-xs-1 sidebar-offcanvas" id="sidebar">
						<% include partials/sidebar %>								
					</div>
					<!-- /sidebar -->
					<!-- main right col -->
					<div class="column col-sm-9 col-xs-11 main-dashcontent" id="main">  						
						<h2>
							<span class="collapse in hidden-xs" style="font-size:30px;margin-left:15px;">EXCHANGE</span>
						</h2>
						<!-- Investment block area -->
						<div class="row clearfix mt-20 text-center">
							
						<!-- <iframe style="width:100%;height: 1740px;" src="http://localhost/dist/market/WETH/EVOT" frameborder="0" scrolling="no"></iframe> -->
						<iframe style="width:100%;height: 1740px;" src="https://exchange.evoai.tech/market/WETH/EVOT" frameborder="0" scrolling="no"></iframe>
					</div>
				</div>
			</div>
		</section>
	<% include partials/footer %>
	<% include partials/script %>	
	<% include partials/metamask %>		
	<% include partials/config %>
	<% include partials/exchange_contract_provider %>
	<script>
		preloader();
		// conver-eth-dialog
		$(".mat-dialog-container").css("margin-top", "-500px")
	</script>
</body>
</html>