<title>Evoai | <%= page %></title>
		<meta charset="utf-8">
		<meta name="active-menu" content="<%= menuId %>">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="google-site-verification" content="fcbUaC3jW6t3Un0BkM1Egg9xpR6UvBFLo1s79XmWr2Y" />
		<link rel="shortcut icon" type="image/png" href="/webroot/frontend/images/favicon-icon2.png"/>		

		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/base/jquery-ui.css" type="text/css" media="all" />

		<link rel="stylesheet" href="https://static.jquery.com/ui/css/demo-docs-theme/ui.theme.css" type="text/css" media="all" />

		<link rel="stylesheet" href="/webroot/frontend/css/bootstrap.min.css">    

		<link href="/webroot/frontend/css/owl-theme.css" rel="stylesheet">

		<link rel="stylesheet" href="/webroot/frontend/css/style.css">
		<link rel="stylesheet" href="/stylesheets/custom.css">

		<link rel="stylesheet" href="/webroot/frontend/css/main.min.css">   

		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">

		<link rel="stylesheet" href="/webroot/frontend/css/font-awesome.css">

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">

		 <!--Adding plugin css file -->

		<link rel="stylesheet" type="text/css" href="/webroot/frontend/css/breaking-news-ticker.min.css">

		<!-- Google Font -->

		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">       

		<script src="/webroot/frontend/js/jquery.min.js"></script>

		<script src="/webroot/frontend/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/webroot/frontend/css/slideControl.css" />
		<script type="text/javascript" src="/webroot/frontend/js/jquery.slideControl.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$('.slideControl').slideControl();
					prettyPrint();
			});
		</script>
		<link rel="stylesheet" type="text/css" href="/webroot/frontend/css/slidestyle.css" />
		<script type="text/javascript" src="/webroot/frontend/js/prettify.js"></script>		  
		<script src="/webroot/frontend/js/carousel.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
		<script>

			$("#owl-demo").owlCarousel({

				autoPlay: 2000,

				items : 6,

				margin:10,

				itemsDesktop : [1199,6],

				itemsDesktopSmall : [979,6],

				dots: false,

				navigation : false,

				pagination: false,

				draggable: false,

				touchMove: false,

				mouseDrag: false

			});       

		</script> 